In [2]:
import numpy as np

In [3]:
import pandas as pd

In [20]:
abc = pd.read_csv('freq_201408.csv')
abc.head()

   Unnamed: 0   id        lat       long                           name  freq
0           0   72  40.767272 -73.993929               W 52 St & 11 Ave  3071
1           1   79  40.719116 -74.006667       Franklin St & W Broadway  2312
2           2   82  40.711174 -74.000165         St James Pl & Pearl St  1192
3           3   83  40.683826 -73.976323  Atlantic Ave & Fort Greene Pl  1236
4           4  116  40.741776 -74.001497                W 17 St & 8 Ave  5047

In [21]:
a = abc['lat'][2]

In [22]:
a?